header{
    /* width: 80%; */
    height: 4rem;
    background-color: #ffffff#fff;
    height: auto;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: -1px;
}


header >:nth-child(2){
    border: 1;
    height: 70px;
    width: 100%;
    display: flex;
    gap:2rem;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border: 1px solid rebeccapurple;
    position: fixed;
    background-color: #fff;
}


header>div>a{
    width: 10%;
}
header>div>div:nth-child(2){
    border: 0px solid green;
    /* background-color: aliceblue; */
    width: 60%;
    padding: 1px;
    display:flex;
    height:60% ;
    gap: 30px;
    font-size: 13px;
    font-weight: 500;
    margin-left: 1.5rem;
    align-items: center;
    /* font: optional; */

}

header>div>div:nth-child(3){
    width: 2%;
}
header>div>div:nth-child(4){
    width: 20%;
    height: 20px;
    background-color: #fff;
   border: 0px solid green;
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 10px;
}
header>div>div:nth-child(4) button{
    background-color:  #fff;
    border: 1px solid black;
    width: 24px;
    height:20px;
    border: none;
}
header>div>div:nth-child(4) button img{
    border: 0px solid blue;
    width:17px;
}
*{
    /* font-family: "sans-serif"; */
    /* font-family: Tahoma, sans-serif; */
    font-family: 'Trebuchet MS', sans-serif;
    
    /* font-family: 'Franklin Gothic Medium'; */
    /* font-family: "SuisseIntl"; */
}